.footer{
    margin-top: 30px;
    color: rgb(173, 0, 0);
    width: 100%;
    height: 100%;
    color: aliceblue;
    background-color: rgb(0, 0, 0);
}
.Footer-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 35px;
    list-style-type: none;
    font-weight: 100;
    

}
.Footer-content ul li{
    list-style-type: none;
}
.footer-logo{
    height: 30px;
    padding: 15px;
}